pywin32; sys_platform=='win32'
pythonnet; sys_platform=='win32'

click
pandas
numpy
torch
tqdm
numba
psutil
biopython
transformers
scikit-learn
streamlit
streamlit-aggrid
lxml

alphabase>=1.1.0
alpharaw>=0.2.0