jupyter
jupyter_contrib_nbextensions
autodocsumm
sphinx-rtd-theme
twine
bumpversion
pipdeptree
ipykernel
tqdm
psutil
wget
nbdev
pyinstaller

click
pandas
numpy
statsmodels
seaborn
matplotlib
regex
numba
psutil
biopython
streamlit
transformers
scikit-learn
lxml

alphabase

#torch --extra-index-url https://download.pytorch.org/whl/cu116
torch