pywin32==308; sys_platform=='win32'
pythonnet==3.0.4; sys_platform=='win32'

pandas==2.2.3
numpy<2 # test: tolerate_version
torch==2.5.1
tqdm==4.67.1
numba==0.60.0
psutil==6.1.0
transformers==4.47.0
scikit-learn==1.6.0
lxml==5.3.0
pyteomics==4.7.5

alphabase>=1.5.0 # test: tolerate_version
alpharaw>=0.2.0 # test: tolerate_version
