pywin32; sys_platform=='win32'
pythonnet; sys_platform=='win32'

jupyter
twine
bumpversion
pipdeptree
ipykernel
tqdm
psutil
wget
nbdev
pyinstaller

click
pandas
numpy
statsmodels
seaborn
matplotlib
numba
psutil
biopython
streamlit
transformers
scikit-learn
lxml

# sphinx
autodocsumm
myst_parser
sphinx
nbsphinx
jinja2
contextfilter
furo

#torch --extra-index-url https://download.pytorch.org/whl/cu116
torch

alphabase
