pywin32; sys_platform=='win32'
pythonnet; sys_platform=='win32'

click
pandas
numpy<2  # test: tolerate_version
torch
tqdm
numba
psutil
transformers
scikit-learn
lxml
pyteomics

alphabase>=1.5.0 # test: tolerate_version
alpharaw>=0.2.0 # test: tolerate_version
