on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

name: Pip installation and tests

jobs:
  stable_installation:
    name: Test stable pip installation on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest, macos-latest-xlarge]
    uses: ./.github/workflows/_run_tests.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      install-script: "stable_pip_install.sh"

  loose_installation:
    name: Test loose pip installation on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest, macos-latest-xlarge]
    uses: ./.github/workflows/_run_tests.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      install-script: "loose_pip_install.sh"
